body {
  background-image: url(background-image.jpeg);
}
.big-div {
  border-width: px;
  height: 180px;
  width: 300px;
  border: 3px;
  margin-left: 20px;
}
.user-name {
  margin-bottom: 0;
  margin-left: 20px;
  font-family: arial;
  font-size: 10px;
  padding-top: 17px;
}
.inputs {
  margin-left: 20px;
  border-color: #507021;
  width: 200px;
  border-radius: 3px;
}
.login-button {
  color: white;
  background-color: blue;
  border-color: white;
  border-radius: 11px;
  width: 60px;
  margin-left: 20px;
  margin-top: 10px;
}
.student {
  color: #507021;
  margin-top: 90px;
  margin-left: 20px;
  font-size: 23px;
  font-family: Arial;
}
.inner-div {
  background-color: rgb(80, 209, 80);
  width: 500px;
  height: 230px;
  margin-left: 10px;
  margin-right:10px;
  font-family: Arial;
  padding-top: 6px;
  
}